* {
    margin: 0;
    font-family: Arial, "メイリオ";
}

html,
body {
    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #5b756f;
    border-radius: 3px;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #83b9ae;
}

*::-webkit-scrollbar-track {
    background: #16221f;
}

.n {
    display: none;
}

.nameElem {
    display: flex;
    user-select: none;

    div:not(.toggle) {
        transition: all .2s;

        &:hover {
            color: #b2ffee;
        }
    }
}

.hit {
    color: #1c201f;
    background-color: #c4f3e9;
}

.toggleElem {
    cursor: pointer;
    margin-right: 10px;

    &.off {
        transform: rotate(-90deg);
    }
}

#cover {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
}

#sideMenu {
    height: 100%;
    width: 250px;
    white-space: nowrap;
    background-color: gainsboro;

    #search {
        height: 50px;
        width: 100%;
        display: flex;

        #searchOption {
            height: 50px;
            width: 50px;
            border-width: 0;
            padding: 0;
            position: relative;
            background-color: #273436;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;

            #realSO {
                height: 80%;
                width: 80%;
                cursor: pointer;
                position: absolute;
                stroke: #67928c;
                stroke-width: 2px;
                transition: all .5s;
                transform: scale(1) rotate(0deg);

                &:hover {
                    stroke: #c4f3e9;
                    transform: scale(0.7) rotate(90deg);
                }
            }

            .h {
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 2;
                height: 125px;
                width: 240px;
                box-sizing: border-box;

                &.ho {
                    height: 125px !important;
                }
            }

            #realBG {
                background-color: #273436;
                height: 0px;
                transition: all .5s;
            }

            #realBGbeh {
                background-color: #99ffe9;
                height: 0px;
                transition: all .2s;
            }

            #optionSelector {
                cursor: default;
                padding: 20px;

                .option {
                    display: flex;
                    line-height: 20px;
                    margin-bottom: 10px;
                    font-weight: 700;
                    font-size: 13px;
                    color: #e7fcf7;
                }

                .toggle {
                    height: 20px;
                    width: 40px;
                    background-color: #16221f;
                    margin-left: auto;

                    .toggleI {
                        height: 20px;
                        width: 20px;
                        background-color: #4e7a71;
                        transform: translateX(0);
                        transition: all .1s;

                        &.on {
                            transform: translateX(20px);
                            background-color: #99ffe9;
                        }
                    }
                }
            }

            &.regexOn {
                background-color: #d77;
            }
        }



        #searchInput {
            height: 50px;
            width: calc(100% - 50px);
            border-width: 0;
            box-sizing: border-box;
            outline: none;
            background-color: #435758;
            color: #c4f3e9;
            padding: 5px;

            &:hover::placeholder,
            &:focus::placeholder {
                padding: 0px;
                color: #5b756f;
            }

            &::placeholder {
                color: #9dc9bf;
                padding: 5px;
                transition: all .5s;
            }
        }
    }

    #searchResDiv {
        display: flex;
        height: 25px;
        width: 100%;
        background-color: #273436;
        color: #c4f3e9;
        padding-left: 5px;
        border-top: 1px solid #80a9af;
        border-bottom: 1px solid #567377;
        box-sizing: border-box;

        #searchRes {
            height: 25px;
            width: calc(100% - 50px);
            line-height: 25px;
        }

        #searchMove {
            height: 25px;
            width: 50px;
            display: flex;

            &>div {
                height: 25px;
                width: 25px;
                line-height: 25px;

                &#arrowL {
                    transform: rotate(180deg);
                }
            }
        }
    }

    #smenu {
        height: calc(100% - 75px);
        width: 100%;
        overflow: scroll;
        background-color: #16221f;
        color: #83b9ae;
        box-sizing: border-box;
        padding: 5px;
    }

}

#topMenu {
    display: none;
}

#wrapper {
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: scroll;
    background-color: #1c201f;
    box-sizing: border-box;
    padding: 8px;
    border-left: 1px solid #435758;
    color: #daece8;
}

.layerElem {
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
}

@media (max-width: 599px) {
    #container {
        display: block;
    }

    #sideMenu {
        display: none;
    }

    #wrapper {
        height: calc(100% - 50px);
        width: 100%;
    }

    #topMenu {
        height: 50px;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: gainsboro;
        display: block;
    }
}
